
<% include ../partials/header %>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="new--h1">Create a New Campground</h1>
          <div class="form-style">
            <form action="/campgrounds"  method="POST">
                <input class="form-control" type="text" name="name" placeholder="name">
                <input class="form-control" type="text" name="image" placeholder="image URL">
                <button class="btn btn-primary btn-block">Submit!</button>
            </form>
          </div>
          <a class="new--link" href="/campgrounds">Go Back</a>
        </div>
        </div>
      </div>


<% include ../partials/footer %>
